<h1>Enter some text below and submit to start the game!</h1>
<form action="/guess-puzzle" method="get">
  <div class="form-group">
    <label for="inputString"></label>
    <input name="inputString" id="inputString" type="text">
  </div>
  <button type="submit" class="btn">Submit</button>
</form>
